#bgVideo {
    position : fixed;
	top :50%;
	left :50%;
	min-width : 100%;
	min-height : 100%;
	transform : translate(-50%, -50%) scale(0.8);
	object-fit : cover;
	z-index : -1;
}
#tetoo {
    text-align: center;
    margin-top: 170px;
    font-size: 40px;
    animation: colorchange 3s infinite;
}

@keyframes colorchange {
    0%   { color: red; }
    25%  { color: yellow; }
    50%  { color: lime; }
    75%  { color: cyan; }
    100% { color: red; }
}
#toggleSound {
		position: fixed;
		bottom: 20px;
		right: 20px;
		padding: 20px 25px;
		font-size: 24px;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		}
.teto-img {
    position: absolute;
    width: 80px;
    user-select: none;
    pointer-events: none;
    animation: bounce 0.6s ease-out forwards;
}

@keyframes bounce {
    0% { transform: scale(0) translateY(0); opacity: 0; }
    40% { transform: scale(1.3) translateY(-20px); opacity: 1; }
    70% { transform: scale(1) translateY(0); }
    100% { transform: scale(0.7) translateY(20px); opacity: 0; }
}
