#bgVideo {
    position : fixed;
	top :50%;
	left :50%;
	min-width : 100%;
	min-height : 100%;
	transform : translate(-50%, -50%) scale(0.8);
	object-fit : cover;
	z-index : -1;
    user-select: none;
    pointer-events: none;
}
#tetoo {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;   
    position: fixed;
    text-align: center;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    animation: colorchange 3s infinite;
    user-select: none;
    pointer-events: none;
    
    
}



@keyframes colorchange {
    0%   { color: red; }
    25%  { color: yellow; }
    50%  { color: lime; }
    75%  { color: cyan; }
    100% { color: red; }
}
#toggleSound {
		position: fixed;
		bottom: 20px;
		right: 20px;
		padding: 20px 25px;
		font-size: 24px;
		border: none;
		border-radius: 8px;
		cursor: pointer;

        user-select: none;    
        -webkit-user-select: none;
        -ms-user-select: none;
    }
     
.teto-img {
    position: fixed;
    width: 80px;
    user-select: none;
    pointer-events: none;
    animation: bounce 0.6s ease-out forwards;
}

@keyframes bounce {
    0% { transform: scale(0) translateY(0); opacity: 0; }
    40% { transform: scale(1.3) translateY(-20px); opacity: 1; }
    70% { transform: scale(1) translateY(0); }
    100% { transform: scale(0.7) translateY(20px); opacity: 0; }
}

#scoreMain {
    position: fixed;
    top: 20px;
    left: 20p;
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    pointer-events: none;
    background: rgba(0,0,0,0.3);
    padding: 8px 12px;
    border-radius: 12px;
    z-index: 1;
    

}
#score {
    
    width: 60px;
    user-select: none;
}
#scoreText {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
    pointer-events: none;
}
#shopToggle {
    position: fixed;
    left: 10px;
    top: 110px;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background: rgba(0,0,0,0.3);
    user-select: none;
    z-index: 1;
    transition: left 0.3s ease;
}
#shopPanel {
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: -300px;
    top: 110px;
    width: 250px;
    height: 70%;
    padding: 20px 16px;
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    border-radius: 20px;
    z-index: 1;
}
#shopPanel.open {
    left: 0;
}
#shopToggle.open {
    left: 300px;
}
#shopTitle {
    user-select: none;
    pointer-events: none;
}
#setting {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    padding: 6px 6px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    user-select: none;
    z-index: 1;
    background: rgba(0,0,0,0.3);
}
#setPanel {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: -120px;
    right: 70px;
    padding: 0 10px 8px;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    transition: top 0.3s ease;
    text-align: center;
    z-index: 1;


}
#setPanel.open {
    animation: open 0.5s forwards;
}
#setPanel.close {
    animation: close 0.5s forwards;
}
@keyframes open {
    0% {top: -120px;}
    50% {top: 30px;}
    100% {top: 20px;}
}
@keyframes close {
    0% {top: 20px;}
    50% {top: 30px;}
    100% {top: -120px;}
}
#settit {
    user-select: none;
    margin-top: 10px;
}
#reset {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    user-select: none;
    cursor: pointer;
    z-index: 1;
    margin-top: -20px;
    margin-right: 150px;
    padding: 4px 6px 10px;
    gap: 8px;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 6px;
    
}
#resetPop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#resetPop.hide {
    display: none;
}
#popPanel {
    background: #222;
    padding: 20px 30px;
    border-radius: 6px;
    text-align: center;
    color: white;
}
#popPanel button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
